* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(#7f3d9e, #6d00d9 );
    color: #fff;
    overflow: hidden;
}

/* Centralizar header */
.header {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center;    /* Centraliza o conteúdo verticalmente */
    padding: 1rem;          /* Espaçamento interno */
    background-color: transparent; /* Cor de fundo opcional */
    z-index: 2;
}

/* Centralizar navegação */
.nav-list {
    display: flex;          /* Usa Flexbox */
    gap: 2rem;              /* Espaçamento entre os itens */
    list-style: none;       /* Remove os marcadores da lista */
    margin: 0;              /* Remove margens */
    padding: 0;             /* Remove espaçamento interno */
}

/* Estilo opcional para itens */
.nav-item {
    font-size: 1.2rem;      /* Tamanho da fonte */
    font-weight: bold;      /* Deixa o texto em negrito */
    cursor: pointer;        /* Muda o cursor para indicar que é clicável */
}

section {
    background-image: radial-gradient(#7f3d9e, #6d00d9 );
    height: 100vh;
    position: relative;
}

section .list {
    width: 70vw;
    margin: auto;
    height: 100%;
    position: relative;
}

.list .item {
    position: absolute;
    inset: 0;
}

.item .chu-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
}

 .content {
    display: flex;
    position: absolute;
    right: 100px;
    width: 70%;
    height: 100%;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 20px;
}

.chu-info {
    font-weight: bold;
}

h2 {
    font-size: 5em;
    line-height: 1em;
}

.desc {
    color: #d9d9d9;
    font-size: 12px;
    text-align: right;
    max-width: 400px;
}

.info {
    border-radius: 30px;
    height: 35px;
    width: 120px;
    text-transform: uppercase;
    border: 2px solid #7f3d9e;
    background-color: #beff1b;
    color: #000;
    cursor: pointer;
    font-weight: bold;
}

.chu-img img {
    width: 100%;
    transform: rotate(-2deg);
}


.seta img {
   width: 100px;
}